@{
    ViewData["Title"] = "Home Page";
}

<main class="flex-shrink-0">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row row-cols-1 row-cols-lg-2 g-5  py-5">
            <div class="col order-last order-lg-first">
                <h1 class="display-5 fw-bold lh-1 mb-3">Loan Shark: A coding Project</h1>
                <!-- ====== DESCRIPTION OF THE PROBLEM WE'RE SOLVING ====== -->
                <h4 class="lead">
                    Build an application that generates an amorization schedule for a
                    simple interest loan.
                </h4>
                <!-- ====== CHECKLIST OF FEATURE YOU USED IN THE PROGRAM ====== -->
                <ul class="fa-ul pt-2 checklist">
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Fundamentals</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Loops</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Functions</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Dom Manipulations</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Conditional Statements</li>
                    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>JavaScript Boolean Logic</li>
                </ul>
                <div>
                    <a type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="App">Try me </a>
                </div>
                <h5 class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col"><i class="fab fa-html5 fa-3x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-3x cssicon"></i></div>
                            <div class="col"><i class="fab fa-bootstrap fa-3x bsicon"></i></div>
                            <div class="col"><i class="fab fa-js square fa-3x jsicon"></i></div>
                        </div>
                    </div>
                </h5>
            </div>
            <div class="col img-container">
                <img src="~/img/shark.png" alt="Shark Logo" class="image-fluid center-block d-block mx-auto img" width="400" height="400">
            </div>
        </div>
    </div>
</main> <!-- ====== MAIN END ====== -->
